.ContainerNotes {
  padding: var(--container);

  display: grid;
  gap: var(--space-big);
}

@media (width > 600px) {
  .ContainerNotes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width > 1000px) {
  .ContainerNotes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width > 1400px) {
  .ContainerNotes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
